/* tailwind.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.toast-center {
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.toast-center .toast {
    width: 80%;
    height: 80%;
    padding: 20px;
}

.toast-body {
    font-size: 18px; /* Ubah ukuran teks sesuai kebutuhan */
}

.fasilitationbath{
    background-color: #2d7719;

} 

.lokasi{
    background-image: url(/src/asset/images/latar/tembok.jpg);
    margin-bottom: 50px;

}

/* .Gallery{
    background-image: url(/src/asset/images/latar/tembok.png);
} */

.tipekamar{
    margin-bottom: 50px;
}

.pubfacilities{
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.fasilitationbath{
    margin-bottom: 50px;
    background-image: url(/src/asset/images/latar/tembok.jpg);
}

.fasilitationroom{
    margin-bottom: 50px;
}

.tagcl{
    margin-bottom: 50px;
}

.card-container {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px; /* Jarak antara kartu-kartu */

  }

  


  /* footer */
  .footer {
    background-color: #2d7719;
    color: #fff;
    padding: 30px 0;
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .logo-img {
    width: 100px;
    transition: transform 0.3s ease-in-out;
  }
  
  .logo-img:hover {
    transform: scale(1.2);
  }
  
  .typography-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    animation: pulse 1s ease-in-out infinite;
  }
  
  .typography-description {
    font-size: 16px;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Animasi */
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation: fade-in 1s ease-out;
  }


  /* css hubungi kami */
  .chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .chat-container a {
    display: inline-block;
    background-color: green;
    color: white;
    padding: 10px;
    text-decoration: none;
  }
  

  .whatsapp-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #25D366; /* Ubah warna latar belakang sesuai kebutuhan */
    color: #fff; /* Ubah warna teks sesuai kebutuhan */
  }
  
  .whatsapp-icon {
    margin-right: 8px; /* Menambahkan jarak antara ikon dan teks */
  }
  
  .whatsapp-text {
    margin-left: 8px; /* Menambahkan jarak antara ikon dan teks */
  }


  /* responsive */

  /* -ini untuk componen promosi */
  .Toast .toast-body {
    font-size: 14px;
  }


/* Media queries for mobile-sized screens (e.g., iPhone) */
@media (max-width: 576px) {
  .Toast .toast-body {
    font-size: 12px;
  }
}

/* -ini yg fasilitas publik */

@media (max-width: 1280px) {
  .GridItem {
    flex-basis: calc(50% - 20px); /* Show 2 columns on tablets (e.g., iPad) */
  }
}

@media (max-width: 768px) {
  .GridItem {
    flex-basis: 100%; /* Show 1 column on mobile phones */
    margin: 0;
  }
}
  

  
  
